@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Stack+Sans+Headline:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

.container-signup{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F6FA;
    padding: 40px 0;
}

.card-signup{
    background-color: #FFFFFF;
    border: 2px solid #E0E0E0;
    border-radius: 6px;
    padding: 50px;
}

.text-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-form h1{
    color: #F23030;
}

.text-form p{
    color: #828282;
}

.text-form a{
    text-decoration: none;
    color: #F23030;
}

.form-signup{
    margin-top: 20px;
}

.row-1, .row-2, .row-3, .row-4{
    display: flex;
    justify-content: space-around;
    gap: 40px;
    margin-top: 10px;
}

label, input{
  display: block;
  margin-bottom: 5px;
}

.input-group input{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    width: 250px;
}

.input-group select{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    width: 250px;
}


@media (max-width: 576px) {

    .row-1, .row-2, .row-3, .row-4{
        flex-direction: column;
        gap: 10px;
    }
}






