/* Botões */

#button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    gap: 15px;
}

button[type="submit"] {
    background-color: #F23030;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 15px;
}

button[type="submit"]:hover {
    background-color: #d11f1f;
}

button a {
    text-decoration: none;
    color: white;
}

button[type="reset"] {
    background-color: #E0E0E0;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 15px;
}

button[type="reset"]:hover {
    background-color: #c6c6c6;
}


@media (max-width: 576px) {

    #button{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin-top: 30px;
    gap: 15px;
}

    button{
        width: 100%;
    }


}

/* Fim Botões */